hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--bs-teal);
    opacity: 0.5;
}

.subtitle-text {
    color: var(--bs-teal);
    font-weight: 400;
    font-size: 20px;
}

#content {
    height: 12rem;
    
}