{% extends "base.html" %}
{% block content %}

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
            <!--<h2>{{ page_title }}</h2>-->
        </div>  
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                      
            {% for blogpost in blogposts %}
                <h2>{{ blogpost.title }}</h2>
                <h4 class="subtitle-text">{{ blogpost.subtitle }}</h4>
                <span class="pb-5"><i><u>Author: {{ blogpost.author }}</u></i><br></span>
                <p class="mb-0">{{ blogpost.content }}</p><br>
                <button class="btn btn-primary text-uppercase" type="submit">Edit</button>
                <button class="btn btn-danger text-uppercase" type="submit">Delete</button>
                {% if loop.index != loop.length %}
                    <hr>
                {% endif %}
            {% endfor %}          
            
        </div>
    </div>


{% endblock %}