{% extends "base.html" %}

{% block title %}
    Read blog posts!
{% endblock %}

{% block content %}

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
            <h2>Search</h2>
                <form action="{{ url_for('search') }}" method="POST">
                    <label for="searchbox" class="form-label">Search in content</label>
                    <input type="text" class="form-control" id="searchbox" name="searchbox" placeholder="Enter keyword here">
                    <button type="submit" class="btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                    <a href="{{ url_for('blog') }}" class="btn" style="color: rgb(219, 11, 11);"><i class="fas fa-minus-circle"></i> Reset</a>
                </form>
                <hr>
        </div>  
        
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                      
            {% for blog in blogposts %}
                <h2>{{ blog.title }}</h2>
                <h4 class="subtitle-text">{{ blog.subtitle }}</h4>
                <span class="pb-5"><i><u>Author: {{ blog.author }}</u></i><br></span>
                <p class="mb-0">{{ blog.content }}</p><br>
                <a href="{{ url_for('edit_blog', blog_id=blog._id) }}" class="btn btn-primary text-uppercase">Edit</a>
                
                {% if session.user %}
                    <a href="{{ url_for('delete_blog', blog_id=blog._id) }}" class="btn btn-danger text-uppercase">Delete</a>
                {% endif %}

                {% if loop.index != loop.length %}
                    <hr>
                {% endif %}
            {% endfor %}          
            
        </div>
        
    </div>



{% endblock %}