{% extends "base.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
            <h2>{{ page_title }}</h2>
        </div>   
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
            <p>This is a mini-blog website to practice how to connect to a database.</p>
            <p>Click on Read Blog to see blog posts and Write blog to post content.</p>
            <p>You will need to be a <b>registered user</b> to be able to post or delete a blog.</p>
        </div>  
    </div>


{% endblock %}