{% extends "base.html" %}

{% block title %}
    Register 
{% endblock %}

{% block content %}

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
            <h2>{{ page_title }}</h2>
            <main class="mb-4">          
                <p>Register your new account here to be able to delete your posts.</p>
                    <div class="my-5">
                        <form method="POST" action="{{ url_for('register') }}">
                            <div class="form-floating">
                                <input class="form-control" id="username" name="username" type="text" placeholder="Enter username here..." />
                                <label for="username">Username</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Enter password here..." />
                                <label for="password">Password</label>
                            </div>                           
                            </div>
                            <br />
                            <button class="btn btn-primary text-uppercase" type="submit">Register</button>
                        </form>
                    </div>                
            </main>
        </div>   
    </div>


{% endblock %}